In [1]:
import pandas as pd

 Загрузить данные (read_csv())

In [2]:
data = pd.read_csv("/content/math_students.csv")

Вывести первые и последние 10 строк таблицы (head(), tail())

In [4]:
data.head(10)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
5,GP,M,16,U,LE3,T,4,3,services,other,...,5,4,2,1,2,5,10,15,15,15
6,GP,M,16,U,LE3,T,2,2,other,other,...,4,4,4,1,1,3,0,12,12,11
7,GP,F,17,U,GT3,A,4,4,other,teacher,...,4,1,4,1,1,1,6,6,5,6
8,GP,M,15,U,LE3,A,3,2,services,other,...,4,2,2,1,1,1,0,16,18,19
9,GP,M,15,U,GT3,T,3,4,other,other,...,5,5,1,1,1,5,0,14,15,15

In [5]:
data.tail(10)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
385,MS,F,18,R,GT3,T,2,2,at_home,other,...,5,3,3,1,3,4,2,10,9,10
386,MS,F,18,R,GT3,T,4,4,teacher,at_home,...,4,4,3,2,2,5,7,6,5,6
387,MS,F,19,R,GT3,T,2,3,services,other,...,5,4,2,1,2,5,0,7,5,0
388,MS,F,18,U,LE3,T,3,1,teacher,services,...,4,3,4,1,1,1,0,7,9,8
389,MS,F,18,U,GT3,T,1,1,other,other,...,1,1,1,1,1,5,0,6,5,0
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

Вывести число объектов и их характеристик

In [6]:
len(data)

395

In [7]:
len(data.columns)

33

Вывести названий всех колонок

In [8]:
list(data.columns)

['school',
 'sex',
 'age',
 'address',
 'famsize',
 'Pstatus',
 'Medu',
 'Fedu',
 'Mjob',
 'Fjob',
 'reason',
 'guardian',
 'traveltime',
 'studytime',
 'failures',
 'schoolsup',
 'famsup',
 'paid',
 'activities',
 'nursery',
 'higher',
 'internet',
 'romantic',
 'famrel',
 'freetime',
 'goout',
 'Dalc',
 'Walc',
 'health',
 'absences',
 'G1',
 'G2',
 'G3']

Есть ли в данных пропуски

In [9]:
data.isnull().values.any()

False

Вывести статистику по значениям признаков

In [10]:
data.describe()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
count,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000
mean,16.696203,2.749367,2.521519,1.448101,2.035443,0.334177,3.944304,3.235443,3.108861,1.481013,2.291139,3.554430,5.708861,10.908861,10.713924,10.415190
std,1.276043,1.094735,1.088201,0.697505,0.839240,0.743651,0.896659,0.998862,1.113278,0.890741,1.287897,1.390303,8.003096,3.319195,3.761505,4.581443
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,3.000000,0.000000,0.000000
25%,16.000000,2.000000,2.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,1.000000,3.000000,0.000000,8.000000,9.000000,8.000000
50%,17.000000,3.000000,2.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,4.000000,11.000000,11.000000,11.000000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,8.000000,13.000000,13.000000,14.000000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,75.000000,19.000000,19.000000,20.000000

Вывести более подробное описание значений признаков (количество непустых
значений, типов столбцов и объема занимаемой памяти)

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   sex         395 non-null    object
 2   age         395 non-null    int64
 3   address     395 non-null    object
 4   famsize     395 non-null    object
 5   Pstatus     395 non-null    object
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    object
 9   Fjob        395 non-null    object
 10  reason      395 non-null    object
 11  guardian    395 non-null    object
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    object
 16  famsup      395 non-null    object
 17  paid        395 non-null    object
 18  activities  395 non-null    object
 19  nursery     395 non-null    object
 20  higher      395 non-null    object
 21  internet    395 non-null    object
 22  romantic    395 non-null    object
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  Dalc        395 non-null    int64
 27  Walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  G1          395 non-null    int64
 31  G2          395 non-null    int64
 32  G3          395 non-null    int64
dtypes: int64(16), object(17)
memory usage: 102.0+ KB

Какие значения принимает признак одни из признаков (например, guardian)? (какие
именно значения, сколько уникальных, сколько значений каждого типа)

In [13]:
data['guardian'].value_counts()

mother    273
father     90
other      32
Name: guardian, dtype: int64

Вывести только тех студентов, у которых опекуном является мать, и которая
работает учителем или на дому:

In [16]:
data[(data['guardian'] == 'mother') & ((data['Mjob'] == 'teacher') | (data['Mjob'] == 'at_home'))]

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
10,GP,F,15,U,GT3,T,4,4,teacher,health,...,3,3,3,1,2,2,0,10,8,9
13,GP,M,15,U,GT3,T,4,3,teacher,other,...,5,4,3,1,2,3,2,10,10,11
20,GP,M,15,U,GT3,T,4,3,teacher,other,...,4,4,1,1,1,1,0,13,14,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
377,MS,F,18,R,LE3,T,4,4,teacher,services,...,5,4,3,3,4,2,4,8,9,10
379,MS,F,17,R,GT3,T,3,1,at_home,other,...,4,5,4,2,3,1,17,10,10,10
385,MS,F,18,R,GT3,T,2,2,at_home,other,...,5,3,3,1,3,4,2,10,9,10
386,MS,F,18,R,GT3,T,4,4,teacher,at_home,...,4,4,3,2,2,5,7,6,5,6
388,MS,F,18,U,LE3,T,3,1,teacher,services,...,4,3,4,1,1,1,0,7,9,8

Создать признак "alc", который будет отражать общее употребление алкоголя в
течение недели

In [17]:
data['alc'] = data['Dalc'] + data['Walc']
data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,alc
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,3,4,1,1,3,6,5,6,6,2
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,3,3,1,1,3,4,5,5,6,2
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,3,2,2,3,3,10,7,8,10,5
3,GP,F,15,U,GT3,T,4,2,health,services,...,2,2,1,1,5,2,15,14,15,2
4,GP,F,16,U,GT3,T,3,3,other,other,...,3,2,1,2,5,4,6,10,10,3

Вывести новый размер, новые колонки

In [18]:
data.shape

(395, 34)

In [19]:
data.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3', 'alc'],
      dtype='object')

Какая причина выбора школы была самой частой? В качестве ответа приведите
соответствующее значение признака.

In [20]:
data['reason'].value_counts().idxmax()

'course'

Найдите количество студентов, у родителей которых нет никакого образования.
Вывести информацию об этих студентах

In [22]:
parents_no_education = data[(data['Medu'] == 0) & (data['Fedu'] == 0)]
print(len(parents_no_education))
parents_no_education

0

Empty DataFrame
Columns: [school, sex, age, address, famsize, Pstatus, Medu, Fedu, Mjob, Fjob, reason, guardian, traveltime, studytime, failures, schoolsup, famsup, paid, activities, nursery, higher, internet, romantic, famrel, freetime, goout, Dalc, Walc, health, absences, G1, G2, G3, alc]
Index: []

[0 rows x 34 columns]

Найдите минимальный возраст учащегося школы Mousinho da Silveira. Вывести
информацию об этих студентах.

In [37]:
min_age_mousinho = data[data['school'] == 'MS']['age'].min()
students_min_age_mousinho = data[(data['school'] == 'MS') & (data['age'] == min_age_mousinho)]
print("Minimum age:", min_age_mousinho)
students_min_age_mousinho

Minimum age: 17

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,alc
351,MS,M,17,U,GT3,T,3,3,health,other,...,5,4,2,3,3,2,13,13,13,5
354,MS,M,17,R,GT3,T,4,3,services,other,...,5,5,1,3,2,4,13,11,11,4
356,MS,F,17,R,GT3,T,4,4,teacher,services,...,3,3,1,2,5,4,12,13,13,3
357,MS,F,17,U,LE3,A,3,2,services,other,...,2,3,1,2,5,2,12,12,11,3
363,MS,F,17,U,LE3,T,4,4,at_home,at_home,...,3,4,1,1,1,0,16,15,15,2
364,MS,F,17,R,GT3,T,1,2,other,services,...,2,2,1,2,3,0,12,11,12,3
367,MS,F,17,R,GT3,T,1,1,other,services,...,2,1,1,2,1,0,7,6,0,3
372,MS,F,17,U,GT3,T,2,2,other,at_home,...,4,3,1,1,3,8,13,11,11,2
373,MS,F,17,R,GT3,T,1,2,other,other,...,5,5,1,3,1,14,6,5,5,4
379,MS,F,17,R,GT3,T,3,1,at_home,other,...,5,4,2,3,1,17,10,10,10,5
382,MS,M,17,U,GT3,T,2,3,other,services,...,4,3,1,1,3,2,11,11,10,2
391,MS,M,17,U,LE3,T,3,1,services,services,...,4,5,3,4,2,3,14,16,16,7

Найдите количество студентов, имеющих нечетное число пропусков. Вывести
информацию об этих студентах

In [38]:
odd_absences = data[data['absences'] % 2 != 0]
print("Number of students:", len(odd_absences))
odd_absences

Number of students: 41

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,alc
37,GP,M,16,R,GT3,A,4,4,other,teacher,...,4,3,1,1,5,7,15,16,15,2
40,GP,F,16,U,LE3,T,2,2,other,other,...,3,3,1,2,3,25,7,10,11,3
206,GP,F,16,U,GT3,A,3,1,services,other,...,3,3,2,2,4,5,7,7,7,4
211,GP,M,17,U,LE3,T,4,4,services,other,...,3,5,4,5,3,13,12,12,13,9
213,GP,M,18,U,GT3,T,2,2,services,other,...,4,4,2,4,5,15,6,7,8,6
217,GP,M,18,U,LE3,T,3,3,services,health,...,2,4,2,4,4,13,6,6,8,6
218,GP,F,17,U,GT3,T,2,3,at_home,other,...,3,3,1,4,3,3,7,7,8,5
260,GP,F,18,U,GT3,T,4,3,services,other,...,1,2,1,3,2,21,17,18,18,4
262,GP,M,18,R,GT3,T,3,2,other,other,...,3,2,1,1,3,1,13,12,12,2
265,GP,M,18,R,LE3,A,3,4,other,other,...,2,5,3,4,1,13,17,17,17,7
270,GP,F,19,U,GT3,T,3,3,other,services,...,3,5,3,3,5,15,9,9,9,6
276,GP,F,18,R,GT3,A,3,2,other,services,...,1,1,1,1,5,75,10,9,9,2
278,GP,F,18,U,GT3,T,4,4,health,health,...,4,4,1,1,4,15,9,8,8,2
281,GP,M,17,U,LE3,A,3,2,teacher,services,...,4,4,3,4,3,19,11,9,10,7
282,GP,F,18,R,LE3,T,1,1,at_home,other,...,2,2,1,1,3,1,12,12,12,2
286,GP,F,18,U,GT3,T,2,2,at_home,at_home,...,3,3,1,2,2,5,18,18,19,3
289,GP,M,18,U,LE3,A,4,4,teacher,teacher,...,4,3,1,1,2,9,15,13,15,2
290,GP,M,18,U,GT3,T,4,2,teacher,other,...,3,2,1,4,5,11,12,11,11,5
299,GP,M,18,U,LE3,T,4,4,teacher,teacher,...,4,2,2,2,1,5,16,15,16,4
312,GP,M,19,U,GT3,T,1,2,other,services,...,5,2,2,2,4,3,13,11,11,4
317,GP,F,18,U,GT3,T,4,3,other,other,...,3,4,1,1,5,9,9,10,9,2
320,GP,F,17,U,GT3,A,4,3,services,services,...,2,2,1,2,5,23,13,13,13,3
322,GP,F,17,R,LE3,T,2,2,services,services,...,3,2,2,2,3,3,11,11,11,4
323,GP,F,17,U,GT3,T,3,1,services,services,...,4,3,2,3,5,1,12,14,15,5
325,GP,M,18,U,GT3,T,4,4,other,other,...,3,3,2,2,3,3,9,12,11,4
326,GP,M,17,U,GT3,T,3,3,other,services,...,3,5,3,5,5,3,14,15,16,8
328,GP,F,17,U,GT3,T,4,4,teacher,services,...,4,4,1,3,4,7,10,9,9,4
331,GP,F,17,R,GT3,T,2,4,at_home,other,...,4,3,1,1,5,7,12,14,14,2
338,GP,F,18,U,LE3,T,3,3,services,services,...,3,3,1,1,1,7,16,15,17,2
342,GP,M,18,U,LE3,T,3,4,services,other,...,3,3,1,3,5,11,16,15,15,4
345,GP,F,18,U,GT3,T,3,2,other,services,...,4,3,2,3,1,7,13,13,14,5
346,GP,M,18,R,GT3,T,4,3,teacher,services,...,3,2,1,2,4,9,16,15,16,3
352,MS,M,18,U,LE3,T,1,3,at_home,services,...,3,3,2,3,3,7,8,7,8,5
371,MS,M,18,R,LE3,T,1,2,at_home,services,...,3,3,2,3,3,3,14,12,12,5
379,MS,F,17,R,GT3,T,3,1,at_home,other,...,5,4,2,3,1,17,10,10,10,5
381,MS,M,18,R,GT3,T,2,1,other,other,...,4,3,1,3,5,5,7,6,7,4
386,MS,F,18,R,GT3,T,4,4,teacher,at_home,...,4,3,2,2,5,7,6,5,6,4
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,4,4,5,4,11,9,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,4,5,3,4,2,3,14,16,16,7
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,3,3,3,3,3,10,8,7,6
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,2,3,3,3,5,5,8,9,9,6

Найдите разность между средними итоговыми оценками студентов, состоящих и не
состоящих в романтических отношениях. В качестве ответа приведите число, округленное
до двух значащих цифр после запятой. Вывести информацию об этих студентах

In [26]:
mean_grade_in_relationship = data[data['romantic'] == 'yes']['G3'].mean()
mean_grade_not_in_relationship = data[data['romantic'] == 'no']['G3'].mean()
difference = mean_grade_in_relationship - mean_grade_not_in_relationship
rounded_difference = round(difference, 2)

print("Разность между средними оценками студентов, состоящих и не состоящих в романтических отношениях:", rounded_difference)

Разность между средними оценками студентов, состоящих и не состоящих в романтических отношениях: -1.26

Подсчитать количество студентов каждого пола

In [32]:
gender_counts = data['sex'].value_counts()
print("Количество студентов каждого пола:")
gender_counts

Количество студентов каждого пола:

F    208
M    187
Name: sex, dtype: int64

Подсчитать количество студентов, чья опекуном является отец и который работает
врачом(полицейским). Вывести информацию об этих студента

In [31]:
subset = data[(data['guardian'] == 'father') & ((data['Fjob'] == 'health') | (data['Fjob'] == 'services'))]
print("Количество студентов:")
print(len(subset))
print("Информация о студентах:")
subset

Количество студентов:
42
Информация о студентах:

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,alc
12,GP,M,15,U,LE3,T,4,4,health,services,...,3,3,1,3,5,2,14,14,14,4
21,GP,M,15,U,GT3,T,4,4,health,health,...,4,2,1,1,5,0,12,15,15,2
43,GP,M,15,U,GT3,T,2,2,services,services,...,4,1,1,1,1,0,8,8,11,2
52,GP,M,15,U,LE3,A,4,2,health,health,...,5,5,3,4,5,6,11,11,10,7
61,GP,F,16,U,GT3,T,1,1,services,services,...,5,5,5,5,5,6,10,8,11,10
62,GP,F,16,U,LE3,T,1,2,other,services,...,4,3,1,1,1,4,8,10,9,2
64,GP,F,15,U,LE3,T,4,3,services,services,...,4,4,2,4,2,0,10,10,10,6
80,GP,M,15,U,GT3,T,2,3,other,services,...,2,2,1,3,3,2,10,12,12,4
85,GP,F,15,U,GT3,T,4,4,services,services,...,4,4,2,3,5,6,7,9,8,5
105,GP,F,15,U,GT3,A,3,3,other,health,...,3,3,1,1,4,10,10,11,11,2
117,GP,M,16,U,GT3,T,3,3,other,services,...,4,2,1,1,5,0,13,14,13,2
121,GP,M,15,U,GT3,T,2,2,services,services,...,5,4,1,2,5,6,16,14,15,3
122,GP,F,16,U,LE3,T,2,4,other,health,...,2,2,1,2,5,2,13,13,13,3
125,GP,M,15,U,GT3,T,3,4,services,services,...,5,5,3,2,5,0,13,13,12,5
140,GP,M,15,U,GT3,T,4,3,teacher,services,...,2,2,1,1,3,0,7,9,0,2
141,GP,M,16,U,LE3,T,2,2,services,services,...,3,3,2,2,2,8,9,9,9,4
145,GP,F,15,U,GT3,T,1,1,other,services,...,4,2,1,2,5,0,8,11,11,3
146,GP,F,15,U,GT3,T,3,2,health,services,...,3,2,1,1,3,0,6,7,0,2
159,GP,M,16,U,GT3,T,3,3,other,services,...,5,5,4,4,5,4,10,12,12,8
163,GP,M,17,U,GT3,T,1,3,at_home,services,...,3,3,1,4,2,2,10,10,10,5
167,GP,F,16,U,GT3,T,4,2,health,services,...,2,3,1,1,3,0,14,15,16,2
182,GP,F,17,U,GT3,T,2,4,services,services,...,4,2,2,3,5,0,16,17,17,5
195,GP,F,17,U,LE3,T,2,4,services,services,...,3,2,1,1,5,0,14,15,15,2
217,GP,M,18,U,LE3,T,3,3,services,health,...,2,4,2,4,4,13,6,6,8,6
227,GP,M,17,U,LE3,T,2,3,services,services,...,3,3,1,3,3,2,12,11,12,4
239,GP,M,18,U,GT3,T,2,2,other,services,...,5,4,3,5,2,0,7,7,0,8
259,GP,F,17,U,LE3,T,2,2,services,services,...,4,1,1,1,2,0,10,9,0,2
271,GP,F,18,U,GT3,T,2,3,other,services,...,5,5,1,3,2,4,15,14,14,4
278,GP,F,18,U,GT3,T,4,4,health,health,...,4,4,1,1,4,15,9,8,8,2
303,GP,F,17,U,GT3,T,3,2,health,health,...,2,2,1,2,5,0,17,17,18,3
308,GP,M,19,R,GT3,T,3,3,other,services,...,5,3,1,2,5,0,15,12,12,3
318,GP,F,17,R,GT3,T,3,4,at_home,services,...,3,4,2,5,5,0,11,11,10,7
323,GP,F,17,U,GT3,T,3,1,services,services,...,4,3,2,3,5,1,12,14,15,5
341,GP,M,18,U,GT3,T,4,4,teacher,services,...,3,3,2,2,2,0,10,10,0,4
355,MS,F,18,U,GT3,T,3,3,services,services,...,3,4,1,1,5,0,10,9,9,2
356,MS,F,17,R,GT3,T,4,4,teacher,services,...,3,3,1,2,5,4,12,13,13,3
358,MS,M,18,U,LE3,T,1,1,other,services,...,3,2,1,2,3,4,10,10,10,3
359,MS,F,18,U,LE3,T,1,1,at_home,services,...,3,2,1,1,4,0,18,16,16,2
364,MS,F,17,R,GT3,T,1,2,other,services,...,2,2,1,2,3,0,12,11,12,3
368,MS,F,18,U,GT3,T,2,3,at_home,services,...,2,3,1,2,4,0,11,10,10,3
371,MS,M,18,R,LE3,T,1,2,at_home,services,...,3,3,2,3,3,3,14,12,12,5
382,MS,M,17,U,GT3,T,2,3,other,services,...,4,3,1,1,3,2,11,11,10,2

Подсчитать количество студентов, выбравших школу из-за репутации. Вывести
информацию об этих студентах

In [30]:
reputation_students = data[data['reason'] == 'reputation']
print("Количество студентов, выбравших школу из-за репутации:")
print(len(reputation_students))
print("Информация о студентах:")
reputation_students

Количество студентов, выбравших школу из-за репутации:
105
Информация о студентах:

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,alc
5,GP,M,16,U,LE3,T,4,3,services,other,...,4,2,1,2,5,10,15,15,15,3
10,GP,F,15,U,GT3,T,4,4,teacher,health,...,3,3,1,2,2,0,10,8,9,3
11,GP,F,15,U,GT3,T,2,1,services,other,...,2,2,1,1,4,4,10,12,12,2
16,GP,F,16,U,GT3,T,4,4,services,services,...,2,3,1,2,2,6,13,14,14,3
17,GP,F,16,U,GT3,T,3,3,other,other,...,3,2,1,1,4,4,8,10,10,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
357,MS,F,17,U,LE3,A,3,2,services,other,...,2,3,1,2,5,2,12,12,11,3
367,MS,F,17,R,GT3,T,1,1,other,services,...,2,1,1,2,1,0,7,6,0,3
374,MS,F,18,R,LE3,T,4,4,other,other,...,4,4,1,1,1,0,19,18,19,2
379,MS,F,17,R,GT3,T,3,1,at_home,other,...,5,4,2,3,1,17,10,10,10,5
386,MS,F,18,R,GT3,T,4,4,teacher,at_home,...,4,3,2,2,5,7,6,5,6,4

Найти максимальное количество пропусков у студента. Вывести информацию об
этих студентах

In [33]:
max_absences = data['absences'].max()
students_with_max_absences = data[data['absences'] == max_absences]
print("Максимальное количество пропусков:", max_absences)
print("Информация о студентах:")
students_with_max_absences

Максимальное количество пропусков: 75
Информация о студентах:

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,alc
276,GP,F,18,R,GT3,A,3,2,other,services,...,1,1,1,1,5,75,10,9,9,2

Подсчитать количество студентов, чьи родители имеют высшее образование.
Вывести информацию об этих студентах

In [34]:
parents_high_education = data[(data['Medu'] == 4) & (data['Fedu'] == 4)]
print("Количество студентов:")
print(len(parents_high_education))
print("Информация о студентах:")
parents_high_education

Количество студентов:
70
Информация о студентах:

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,alc
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,3,4,1,1,3,6,5,6,6,2
7,GP,F,17,U,GT3,A,4,4,other,teacher,...,1,4,1,1,1,6,6,5,6,2
10,GP,F,15,U,GT3,T,4,4,teacher,health,...,3,3,1,2,2,0,10,8,9,3
12,GP,M,15,U,LE3,T,4,4,health,services,...,3,3,1,3,5,2,14,14,14,4
15,GP,F,16,U,GT3,T,4,4,health,other,...,4,4,1,2,2,4,14,14,14,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,MS,F,18,R,GT3,T,4,4,other,teacher,...,2,2,4,2,5,10,14,12,11,6
374,MS,F,18,R,LE3,T,4,4,other,other,...,4,4,1,1,1,0,19,18,19,2
377,MS,F,18,R,LE3,T,4,4,teacher,services,...,4,3,3,4,2,4,8,9,10,7
380,MS,M,18,U,GT3,T,4,4,teacher,teacher,...,2,4,1,4,2,4,15,14,14,5
386,MS,F,18,R,GT3,T,4,4,teacher,at_home,...,4,3,2,2,5,7,6,5,6,4

Найти максимальный возраст учащегося, имеющего более 5 пропусков. Вывести его.
Вывести информацию об этих студентах.

In [35]:
max_age_with_high_absences = data[data['absences'] > 5]['age'].max()
students_with_max_age_and_high_absences = data[(data['absences'] > 5) & (data['age'] == max_age_with_high_absences)]
print("Максимальный возраст учащегося с более чем 5 пропусками:", max_age_with_high_absences)
print("Информация о студентах:")
students_with_max_age_and_high_absences

Максимальный возраст учащегося с более чем 5 пропусками: 22
Информация о студентах:

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,alc
247,GP,M,22,U,GT3,T,3,1,services,services,...,4,5,5,5,1,16,6,8,8,10

 Найдите разность между средними итоговыми оценками студентов, у которых есть
домашний интернет и у которых его нет. В качестве ответа приведите число, округленное
до двух значащих цифр после запятой. Вывести информацию об этих студентах

In [36]:
mean_grade_with_internet = data[data['internet'] == 'yes']['G3'].mean()
mean_grade_without_internet = data[data['internet'] == 'no']['G3'].mean()

difference = mean_grade_with_internet - mean_grade_without_internet
rounded_difference = round(difference, 2)

print("Разность между средними оценками студентов с домашним интернетом и без него:", rounded_difference)

Разность между средними оценками студентов с домашним интернетом и без него: 1.21